@model StoreFront.UI.MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}



<div id="contact" class="content-section wf-section">
    <div class="container">
        <div class="contact-wrapper">
            <div class="contact-right">
                <h2>@ViewBag.Title</h2>
                <p>Become a part of our Pack!!</p>
                <!--**********************Register Form ********************************-->
                <div class="w-form">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @*<label for="name">Name</label><input type="text" class="input w-input" maxlength="256" name="name" data-name="Name" placeholder="Enter your name" id="name">*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "input w-input input w-input", placeholder = "Email" })

                        @*<label for="email">Email Address</label><input type="email" class="input w-input" maxlength="256" name="email" data-name="Email" placeholder="Enter your email address" id="email" required="">*@
                        @Html.PasswordFor(m => m.Password, new { @class = "input w-input input w-input", placeholder = "Password" })
                        @*Confirm Password*@
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input w-input input w-input", placeholder = " Confirm Password" })

                        <input type="submit" value="Submit" data-wait="Please wait..." class="btn w-button">
                        <div>
                            <br />
                            <p>
                                Password must contain at least 6 characters and one special character.
                            </p>
                        </div>
                    }

                </div>
                <!--********************End Register Form********************************-->
            </div>
        </div>
    </div>
</div>


@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
