@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav-link w-nav-link" }))
    {
        @Html.AntiForgeryToken()



        @*<a href="@Url.Action("LogOff","Account")" id="loginLink" class="nav-link w-nav-link">Log Out</a>*@

        <a href="javascript:document.getElementById('logoutForm').submit()" id="loginLink" class="nav-link w-nav-link">Log Out</a>

    }
}
else
{
    @*<a @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) />
        <a @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) />*@
    <a href="@Url.Action("Login","Account")" id="loginLink" class="nav-link w-nav-link">Login</a>
    <a href="@Url.Action("Register","Account")" id="registerLink" class="nav-link w-nav-link">Register</a>
}
