@model IEnumerable<StoreFrontV2.DATA.EF.Category>

@{
    ViewBag.Title = "Product Categories";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table data-table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{

    <script>

        $(document).ready(function () {
            $('.data-table').DataTable({
                responsive: true
            });
        });

    </script>

}