@model IEnumerable<StoreFrontV2.DATA.EF.Employee>

@{
    ViewBag.Title = "Employees";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectReportID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactInformation.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DirectReportID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactInformation.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
                    @if (User.IsInRole("Admin"))
                    {
                        <span>@Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |</span>
                        <span>@Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })</span>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{

    <script>

        $(document).ready(function () {
            $('.data-table').DataTable({
                responsive: true
            });
        });

    </script>

}